body
{
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0;
	margin: 0;
	background: url('Background1.png');
}

h1
{
    font-family: "Raleway Thin";
    font-size: 35vh;
/*	display: block;*/
	line-height: 1;
	margin: 0 0 0 0;
	cursor: default;
}

form input
{
	border: none;
	background: none;
	font-size: 30vh;
	font-family: "Raleway Thin";
	text-transform: uppercase;
	padding-left: 25px;
	width: 180vh;
	cursor: default;
}

#here
{
	margin-top: 20vh;
	text-align: right;
	font-style: normal;
	font-family: "Muncie";
	font-weight: 200;
	font-size: 50vh;
	width: 100%;
	display: none;
	transition: all 0.3s ease-out;
}

#progressbar
{
	display: none;
	width: 0%;
	transition: width 0.1s;
	transition-timing-function: linear;
	background: white;
	height: 30px;
	margin-top: 20%;
	margin-left: 37.5%;
	color: black;
	font-size: 28px;
	position: absolute;
}

#progress
{
	display: none;
	height: 30px;
	width: 25%;
	margin-top: 20%;
	margin-left: 37.5%;
	color: aliceblue;
	font-size: 30px;
	line-height: 1.05;
	font-style: normal;
	font-family: "Muncie";
	text-align: center;
	position: absolute;
}

#progressbg
{
	top: 0;
	display: none;
	height: 100%;
	width: 0%;
	background: black;
	position: absolute;
}

.second
{
	font-family: "Muncie";
	font-size: 50vh;
	text-align: right;
	display: none;
	transition: all 0.3s ease-out;
	color: lightgrey;
}

@keyframes fadeup {
  to {
    opacity: 1;
  }
}

.fadeup
{
	opacity: 0;
    animation: fadeup .4s linear 1 forwards;
}

.black
{
	color: black;
}

.lightgrey
{
	color: lightgrey;
}
